<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body class="con">
            <div class="navbar">
                <nav>
                    <ul>
                    <li font-size="10px"><a href="/home">Home</a></li>
                    <li font-size="10px"><a href="/about">About</a></li>
                    <li font-size="10px"><a href="/service">Service</a></li>
                    <li font-size="10px"><a href="/contact">Contact</a></li>
                    <li font-size="30px"><a href="/signin">Login</a></li>
                    </ul>
                </nav>
            </div>
        <div class="abtctn">
            <h1 class="he1">About Us</h1>
            <p class="pa"><br>We, The students of Cloud Application Development<br>
                presented by Naan Mudhalvan Career education, Govt. of Tamil Nadu<br>
                in collabration with TNSDC and IBM were developed this website<br>
                with all our smart ideas to make you (users) to have more satisfied<br>
                editing experience.<br>
                This website will provide almost all sufficient ways<br>
                to edit your pictures as you expect.We provide lot of filters<br>
                and in-built editing options etc...
            </p>
            <h4><br>Features<br></h4>
            <ul class="ul1">
                <li><br>Enhance your picture quality</li>
                <li>Remove and add backgrounds</li>
                <li>Adjust your picture ambience and lights</li>
                <li>Cartoon photos</li>
                <li>Beautify your pictures</li>
            </ul>
        </div>

    </body>
</html>