<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body class="con">
        <div class="navbar">
            <nav>
                <ul>
                <li font-size="10px"><a href="/home">Home</a></li>
                <li font-size="10px"><a href="/about">About</a></li>
                <li font-size="10px"><a href="/service">Service</a></li>
                <li font-size="10px"><a href="/contact">Contact</a></li>
                <li font-size="30px"><a href="/signin">Login</a></li>
                </ul>
            </nav>
        </div>
        
            <h1>Welcome</h1>
            <div class="col">
                <div class="cards card4">
                    <h5>Change background</h5>
                    <p><br><br><br>Swagg...Cool backgrounds<br>
                     always make your picture swaggy</p>
                     
                </div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
            
       
    </body>
</html>