<!DOCTYPE html>
<html>
<head>
<title>Presizo-Editor</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />   
<link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body class="con">
    <div class="navbar">
        <nav>
            <ul>
            <li font-size="10px"><a href="/menu">Back</a></li>
            <li font-size="30px"><a href="/home">logout</a></li>
            </ul>
        </nav>
    </div>
<p><h5 class="head" align="center">Cool glasses</h5></p>
<div class="container">
<div class="row">
    <h4><br><i>Select a file to upload</i></h4>
     <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src={{filename}} style="width : 400px">
        </div>
    {% endif %} 
    <div >
    <form method="post" action="/cools" enctype="multipart/form-data"class="form">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="button">
        </p>
    </form> 
    </div>
</div>
</div>
</body>
</html>