<!DOCTYPE html>
<html>
    <head>
       
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
<body class="con">
    <div class="navbar_user">
        <nav>
            <ul>
                <li><a href="/signin">Back</a></li>
                <li><a href="/home">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="col">
        <div class="col22">
            <div class="cards card5">
                <h5>Cool glases</h5>
                <button type="button"><a href="/cool">Upload</a></button>
            </div>
            <div class="cards card6">
                <h5>Swagg</h5>
                <button type="button"><a href="/swag">Upload</a></button>
            </div>
        </div>
    </div>
        <div class="col2">
            <div class="cards card5">
                <h5>Girly</h5>
                <button type="button"><a href="/girly">Upload</a></button>
            </div>
            <div class="cards card6">
                <h5>Colourful</h5>
                <button type="button"><a href="/color">Upload</a></button>
            </div>
        </div>
    </div>
</body>    