<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
<body class="con">
    <div class="navbar">
        <nav>
            <ul>
                <li font-size="10px"><a href="/home">Home</a></li>
                <li font-size="10px"><a href="/about">About</a></li>
                <li font-size="10px"><a href="/service">Service</a></li>
                <li font-size="10px"><a href="/contact">Contact</a></li>
                <li font-size="30px"><a href="/signin">Login</a></li>
            </ul>
        </nav>
    </div>
    <div class="col">
        <div class="card card1">
            <h5>Pixel Perfection</h5>
            <p><br><br><br><br><br><br><br><br><br>Make your picture more clear<br>
               and pixel perfection
            </p>
        </div>
        <div class="card card2">
            <h5>Retro</h5>
            <p><br><br><br><br><br><br><br><br><br>Edit your picture to<br>
               make it more attractive
            </p>
        </div>
        <div class="card card3">
            <h5>Remove background</h5>
            <p><br><br><br><br><br><br><br><br><br>Upload and get perfect cutting edge<br>
               of your picture
            </p>
        </div>
    </div>
        <div class="col2">
            <div class="card card5">
                <h5>Sketch</h5>
                <p><br><br><br><br><br><br><br><br><br>Ofcourse!!Everybody like cartoons<br>
                So its cartoon time:)</p>
            </div>
            <div class="card card6">
                <h5>Cool Glasses</h5>
                <p><br><br><br><br><br><br><br><br><br>Beauty is pleasure <br>
                Beauty is in everything!</p>
            </div>
        </div>
    </div>
</body>    