<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <div class="bgcontainer">
            <div class="form-box">
                <h1 id="title">Sign In</h1>
                {{msg_w}}
                {{msg_r}}
                {{msg}}
                <form action="\signin" method = "post">
                    <div class="input-group">
                        
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" id="nameField" name="nameField" placeholder="Email">
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password"id= "pwd" placeholder="Password" name="pwd">
                        </div>
                        <div class="btn-fields">
                            <button type="submit" id="signinBtn" >Sign In</button>
                        </div>
                    </div>
                    
    </body>
</html>